*{ 
    margin :0;
    padding: 0;
};
body{
    color: #7d7d7d;
    justify-content: center;
    display: flex ;
    flex-direction: column ;
    height: 100vh;
    width: 100%;

};
.container {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    top: 30px;
    padding: 0 auto;
   

};
.sketch-container{
    display: flex;
    justify-content: center;
    height: 960px;
    width: 960px;
    background-color: #991101;
    padding-top: 50px;

}
.sketch-screen{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 600px;
    width: 600px;
    background-color: #bfbfbf;
}
.sketch-screen > div {
    height: auto;
    flex: 1 0;
    display: flex;
    flex-direction: column;
}
.sketch-screen > div > * {
    flex: 1;
}
